.navbar {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.navbar_icon {
    width: 100px;
    cursor: pointer;
}

.Navbar link {
    text-decoration: none;
  }



    
